/* comment */
body {
    background-color: #012a41;
  }
  
  h1 {
    color: #6ec0e9;
    text-align: left;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
  }
  
  p {
    color: #dbe7ec;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
