
/*Desktop first*/



* {
    box-sizing: border-box;
  }

header,
footer,
body{
  background-color: #013B5C;
  margin: 0px;
}
  
header {
  display: flex;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
  }

#topnavlogo{
  display: flex;
  height: 60px;
  margin: 20px;
  position: relative;
}

#menuarea{
  margin: 26px;
  width: auto;
  position: absolute;
  right: 30px;
}
*
.menu {
  display: flex;

  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  }

li a {
  display: inline-flex;
  float: left;
  color: white;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  text-decoration: none;
  }
  
li a:hover {
  color: #6AD3E3;
  }
  



.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 1px;
}

.grid-item1{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #c7e0e4;
  height: auto;
  padding: 50px;
  font-size: 40px;
  font-weight: 900;
  column-fill: auto;
}
.grid-item2{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #e0eef0;
  height: auto;
  padding: 50px;
  column-fill: auto;
}
.grid-item3{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #e7f1ee;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item4{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #f4f9f7;
  height: auto;
  width: 100%;
  padding: 50px;
  column-fill: auto;
}
.grid-item5{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #cccccc;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item6{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #ffffff;
  height: auto;
  width: 100%;
  padding: 50px;
  margin-right: 50px;
  column-fill: auto;
}

.grid-item7{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #a3b9c3;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}

.grid-item8{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #ccd8de;
  height: auto;
  width: 100%;
  padding: 50px;
  margin-right: 50px;
  column-fill: auto;
  gap: 20px;
}

.offerarea{
  display: flex;
  /*flex-flow: nowrap;*/
  flex-direction: row;
  /*justify-content: space-evenly;*/
  width: 100%;
  padding: 1px;
  gap: 20px;
}

.offercontainer{
  flex: 1 1 auto;
  /*align-items: center;*/
  /*justify-content: center;*/
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.offertext{
  display: flex;
  flex-direction: column;
 /* align-items: stretch;*/
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

#offerimg {
  display: block;
  margin: 0 auto 5px auto;
 /* align-self: flex-end;*/
  
}

.contactpart1{
  flex: 1 1 40%;
  size: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.contactpart2{
  flex: 1 1 40%;
  size: 100%;
  padding: 10px;
}

.contactinfo{
  float: left;
  color: #484b4e;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  line-height: 20pt;
}

.chaptericon{
  display: flex;
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
  justify-content: start;
  margin-bottom: 30px;
}

.chaptertext{
  float: left;
  color: #484b4e;
  font-family: Lora;
  font-weight: 900;
  font-size: 50px;
  text-align: left;
}
  
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  width: 100%;
  height: 50px;
  padding: 10px;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.socialmedia{
  display: flex;
  width: auto;
  gap: 15px;
  }

.footertext{
  display: flex;
  color: white;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

.portfolio {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row wrap;
  gap: 40px;
  align-content: space-evenly;
  justify-content: center;
  align-content: center;
}

.businesscard {
  flex: 1 1 30%;
  size: 100%;
}

h1 {
  color: #dbe7ec;
  text-align: left;
  font-size: 30px;
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

h4 {
  color: #484b4e;
  text-align: left;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}
  
p {
  color: #484b4e;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

p.description {
  color: #484b4e;
  text-align: left;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

.group label {
  font-size: 18px;
  color: #484b4e;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 14px;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #EBEBEB;
  border: 1px solid #ABAFB2;
  border-radius: 5px;
  box-sizing: border-box;
}
  
input[type=submit] {
  width: 100%;
  background-color:#a3b9c3;
  color: #484b4e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/*hover submit-button*/
input[type=submit]:hover {
  background-color: #FB5357;
}



/*Breakpoint*/
@media screen and (max-width:950px) {

  .offercontainer{
    flex: 1 1 0px;
    size: auto;
    padding: 15px;

  }




  .chaptertext{
    font-weight: 800;
    font-size: 40px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }
}

/*Breakpoint*/
@media screen and (max-width:770px) {

  .chaptertext{
    font-weight: 700;
    font-size: 25px;
  }

  .chaptericon{
    height: 65px;
    width: 65px;
  }
  
  p {

    font-size: 16px;
    font-weight: 500;
  }

  h4 {
    font-size: 22px;
    font-weight: 700;
  }

  p.description {
    font-size: 14px;
  }
}


/*Breakpoint*/
@media screen and (max-width:570px) {

  .chaptertext{
    font-weight: 700;
    font-size: 20px;
  }

  .chaptericon{
    height: 65px;
    width: 65px;
  }
  
  p {
    font-size: 16px;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
  }

  p.description {
    font-size: 12px;
  }

  .grid-item1{
    padding: 30px;
  }
  .grid-item2{
    padding: 30px;
  }
  .grid-item3{
    padding: 30px;
  }
  .grid-item4{
    padding: 30px;
  }
  .grid-item5{
    padding: 30px;
  }
  .grid-item6{
    padding:30px;
  }
  .grid-item7{
    padding: 30px;
  }
  .grid-item8{
    padding: 30px;
  }
}

/*Mobile screen*/
  @media screen and (max-width:400px) {

    .chaptertext{
      font-weight: 700;
      font-size: 18px;
    }
  
    .chaptericon{
      height: 40px;
      width: 40px;
      margin-bottom: 20px;
    }
    
    p {
      font-size: 14px;
      font-weight: 500;
    }
  
    h4 {
      font-size: 20px;
      font-weight: 700;
    }

    p.description {
      font-size: 14px;
    }

    .grid-item1{
      padding: 20px;
    }
    .grid-item2{
      padding: 20px;
    }
    .grid-item3{
      padding: 20px;
    }
    .grid-item4{
      padding: 20px;
    }
    .grid-item5{
      padding: 20px;
    }
    .grid-item6{
      padding:20px;
    }
    .grid-item7{
      padding: 20px;
    }
    .grid-item8{
      padding: 20px;
    }
  }