/*body {
    background-color: #010911;
  } 
  
  body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 100%;
}

*/

/*Desktop first*/

* {
    box-sizing: border-box;
  }

header,
footer{background-color: #013B5C;}
  
header {
  display: flex;
  float: left;
  width: 100%;
  height: 120px;
  padding: 20px;
  position: sticky;
  top: 0;
  align-items: stretch;
  z-index: 1;
  }

#logo{
  margin: 10px;
  position: relative;
  float: left;
}

#menuarea{
  margin: 20px;
  position: absolute;
  right: 30px;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
  }
  
li {
  float: left;
  }
  
li a {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  text-decoration: none;
  }
  
li a:hover {
  color: #C6E0D7;
  }

li a:active {
  color: #FB5357;
  }

.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  background-color: #013B5C;
  padding: 1px;
}
.grid-item1{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #266974;
  height: auto;
  padding: 50px;
  font-size: 40px;
  font-weight: 900;
  column-fill: auto;
}
.grid-item2{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #62A8B2;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item3{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #013B5C;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item4{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #2e6788;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item5{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #243b50;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item6{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #506272;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}

.grid-item7{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #342c68;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}

.grid-item8{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #7268AF;
  height: auto;
  padding: 50px;
  font-size: 30px;
  column-fill: auto;
}

.chaptericon{
  display: flex;
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
  
  justify-content: start;
}

.chaptertext{
  float: left;
  color: white;
  font-family: Lora;
  font-weight: 900;
  font-size: 50px;
  text-align: left;
}
  
footer {
  width: 100%;
  height: 40px;
  padding: 5px;
  position: sticky;
  bottom: 0;
  align-content: center;
}

.footertext{
  float: center;
  color: white;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
}

.portfolio {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row wrap;
  gap: 40px;
  justify content: space-evenly;
  align-content: space-evenly;
  }

  .businesscard {
    flex: 1 1 100px;
    }


  h1 {
    color: #dbe7ec;
    text-align: left;
    font-size: 30px;
    font-family: 'Lora', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  }

  h4 {
    color: #C6E0D7;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
  }
  
  p {
    color: #edf0f1;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
  }

  p.description {
    color: #edf0f1;
    text-align: center;
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 15px;
    font-weight: 300;
  }