
/*Desktop first*/

* {
    box-sizing: border-box;
  }

header,
footer,
body{
  background-color: #013B5C;
  margin: 0px;
}

/*The header-banner*/
header {
  display: flex;
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
}

  /*The logo in the header*/
#topnavlogo{
  display: flex;
  height: 60px;
  margin: 20px;
  position: relative;
}

/*Hide the drop down menu down to 950px*/
.dropdown{
  visibility: hidden;
}

/*The area where the menu is placed*/
#menuarea{
  margin: 26px;
  width: auto;
  position: absolute;
  right: 0;
}

/*The area for the list*/
.menu {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  }

/*The navigation menu in text*/
li a {
  display: inline-flex;
  float: left;
  color: white;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  padding: 15px;
  margin-left: 10px;
  text-decoration: none;
  }

/*Color change when hovered*/
li a:hover {
  color: #6AD3E3;
  }

/*Alternative drop down menu for 950px and smaller*/
.dropdown {
  position: fixed;
  right: 20px;
  top: 20px;
  display: inline-block;
}

/*The drop down menu-button*/
.dropdownbutton {
  background-color: #62A8B2;
  color: white;
  border-radius: 2px;
  padding: 20px;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/*The drop down content*/
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  border-radius: 2px;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-size: 14px;
  text-align: right;
  background-color: #013B5C;
  min-width: 220px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.3);
  z-index: 1;
}

/*Look of the textcontent*/
.dropdown-content a {
  display: block;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

/*Hovering the content*/
.dropdown-content a:hover {
  background-color: #62A8B2;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/*The grid for the main page layout*/
.grid-container {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 1px;
}

/*The grid parts in order from 1 to 8*/
.grid-item1{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #c7e0e4;
  height: auto;
  padding: 100px 50px 50px 70px;
  font-size: 40px;
  font-weight: 900;
  column-fill: auto;
}
.grid-item2{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #e0eef0;
  height: auto;
  padding: 100px 50px 50px 70px;
  column-fill: auto;
}
.grid-item3{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #e7f1ee;
  height: auto;
  padding: 100px 50px 50px 70px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item4{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #f4f9f7;
  height: auto;
  width: 100%;
  padding: 100px 50px 50px 70px;
  column-fill: auto;
}
.grid-item5{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #cccccc;
  height: auto;
  padding: 100px 50px 50px 70px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item6{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #ffffff;
  height: auto;
  width: 100%;
  padding: 100px 50px 50px 70px;
  margin-right: 50px;
  column-fill: auto;
}
.grid-item7{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #a3b9c3;
  height: auto;
  padding: 100px 50px 50px 70px;
  font-size: 30px;
  column-fill: auto;
}
.grid-item8{
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
  background-color: #ccd8de;
  height: auto;
  width: 100%;
  padding: 100px 50px 50px 70px;
  margin-right: 50px;
  column-fill: auto;
  gap: 20px;
}

/*The icons for the different chapters*/
.chaptericon{
  display: flex;
  position: relative;
  float: left;
  height: 100px;
  width: 100px;
  justify-content: start;
  margin-bottom: 30px;
}

/*The header text for the chapters*/
.chaptertext{
  float: left;
  color: #484b4e;
  font-family: Lora;
  font-weight: 900;
  font-size: 50px;
  text-align: left;
}

/*The area with the three offers*/
.offerarea{
  display: flex;
  /*flex-flow: nowrap;*/
  flex-direction: row;
  /*justify-content: space-evenly;*/
  width: 100%;
  padding: 1px;
  gap: 20px;
}

/*The containers for the offers*/
.offercontainer{
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.2px);  
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/*Styling of the textarea*/
.offertext{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

/*Area for the offerimages*/
.offerimgarea{
  display: flex;
  padding: 5px;
  margin: 0 auto 5px auto;
  align-items: center;
  justify-content: center;
}

/*The images for the offers*/
#offerimg {
  display: block;
 /* align-self: flex-end;*/
 /*justify-self: flex-end;*/
}


/*The area for the main card in the slidehow*/
.portfolioslide{
  display: none;
  margin-bottom: 40px;
}

/*The main card in the slidehow*/
.portfolio {
  position: relative;
  margin: 30px;
  vertical-align: middle;
}

/*The area for the card slidehow*/
.portfoliocolumn {
  float: left;
  width: 20%;
}

/*The prev and next-slash*/
.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 27%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(207, 24, 24);
  font-weight: bold;
  font-size: 30px;
  border-radius: 0 5px 5px 0;
}

/*Puts the next-slash to the right on the page*/
.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/*Cursor for the thumb gallery in the slidehow*/
.cursor {
  cursor: pointer;
}

/*The area for the contactform*/
.contactpart1{
  flex: 1 1 40%;
  size: 100%;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/*The area for the contact info*/
.contactpart2{
  flex: 1 1 40%;
  size: 100%;
  padding: 10px;
}

/*The contact text*/
.contactinfo{
  float: left;
  color: #484b4e;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  line-height: 20pt;
}

/*The footer banner*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 55px;
  padding: 10px;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

/*The info text in the footer*/
.footertext{
  display: flex;
  color: white;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 12px;
}

/*The social media icons*/
.socialmedia{
  display: flex;
  width: auto;
  gap: 15px;
  padding-right: 26px;
  padding-left: 30px;
}

h1 {
  color: #dbe7ec;
  text-align: left;
  font-size: 30px;
  font-family: 'Lora', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
}

h4 {
  color: #484b4e;
  text-align: left;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}
  
p {
  color: #484b4e;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

p.description {
  color: #484b4e;
  text-align: left;
  font-family: 'Roboto', helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
}

/*The text above the info forms*/
.group label {
  font-size: 18px;
  color: #484b4e;
  font-family: Roboto;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 14px;
}

/*The info forms*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  background-color: #EBEBEB;
  border: 1px solid #ABAFB2;
  border-radius: 5px;
  box-sizing: border-box;
}
  
/*The submit button*/
input[type=submit] {
  width: 100%;
  background-color:#a3b9c3;
  color: #484b4e;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

/*Color when hovering the submit-button*/
input[type=submit]:hover {
  background-color: #FB5357;
}


/*Breakpoint 1*/
@media screen and (max-width:950px) {

  /* The menu list disappears*/
  #menuarea{
    display: none;
  }

  /*Show the drop down menu*/
  .dropdown{
    visibility: visible;
  }

  .offercontainer{
    flex: 1 1 0px;
    size: auto;
    padding: 15px;
  }

  .chaptertext{
    font-weight: 800;
    font-size: 40px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }
}

/*Breakpoint 2*/
@media screen and (max-width:770px) {

  .chaptertext{
    font-weight: 700;
    font-size: 25px;
  }

  .chaptericon{
    height: 65px;
    width: 65px;
  }
  
  p {

    font-size: 16px;
    font-weight: 500;
  }

  h4 {
    font-size: 22px;
    font-weight: 700;
  }

  p.description {
    font-size: 14px;
  }
}

/*Breakpoint 3*/
@media screen and (max-width:670px) {

  .chaptertext{
    font-weight: 700;
    font-size: 20px;
  }

  .chaptericon{
    height: 65px;
    width: 65px;
  }

  .offerarea{
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 1px;
    gap: 20px;
  }
  
  p {
    font-size: 16px;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
  }

  p.description {
    font-size: 12px;
  }

  .grid-item1,
  .grid-item2,
  .grid-item3,
  .grid-item4,
  .grid-item5,
  .grid-item6,
  .grid-item7,
  .grid-item8{
    padding: 30px;
  }
 
}

/*Mobile screen*/
@media screen and (max-width:400px) {

  header {
    height: 70px;
  }

  #topnavlogo{
    height: 40px;
    margin: 15px;
  }

  .dropdown {
    right: 14px;
    top: 14px;
  }
  
  .dropdownbutton {
    padding: 15px;
    font-size: 12px;
  }
  
  .dropdown-content {
    font-size: 12px;
    min-width: 170px;
  }
  
  .dropdown-content a {
    padding: 15px 15px;
  }

  .chaptertext{
    font-weight: 700;
    font-size: 18px;
  }

  .chaptericon{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 14px;
    font-weight: 500;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
  }

  p.description {
    font-size: 14px;
  }

  .grid-item1,
  .grid-item2,
  .grid-item3,
  .grid-item4,
  .grid-item5,
  .grid-item6,
  .grid-item7,
  .grid-item8{
    padding: 73px 20px 20px 20px;
  }

  .portfolioslide{
    margin-bottom: 30px;
  }
  
  .portfolio {
    margin: 10px;
  }
 
  /*The prev and next-slash*/
  .previous,
  .next {
    top: 50%;
    padding: 2px;
    font-size: 20px;
  }
  
  .socialmedia{
    padding-right: 15px;
    padding-left: 25px;
  }

}